.album-playlist-items{
  width: 100%;
  height: 100%;
}
.album-details {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: $card-background-color;
  padding: 1em;
  overflow: auto;
  img {
    box-shadow: $artwork-box-shadow;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
  }
}

.album-metadata {
  height: 190px;
  p {
    margin: 0;
    font-size: 14px;
    max-height: 80px;
    overflow: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 4px 0;
  }
  display: flex;
  flex-direction: column;
  .albums-attributes {
    margin-left: 10px;
  }
  .album-buttons {
    display: flex;
    margin-top: auto;
  }
}

.song-list {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.clickable {
  &:hover {
    @include transition-animation(0.2);
    transform: scale(1.03);
    text-decoration: underline;
    cursor: pointer;
  }
}
