.browse-page-category {
  color: $primary-color;
  margin-left: 1em;
}

.top-songs {
  width: 95%;
  max-height: 400px;
  overflow: auto;
  max-width: 800px;
}

.albums-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
