.button {
  @include transition-animation(0.2);
  @include box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: $primary-color;
  background: linear-gradient(
    45deg,
    rgba(242, 127, 156, 1) 0%,
    rgba(255, 117, 151, 1) 46%,
    rgb(241, 110, 190) 100%
  );
  padding: 10px 0;
  color: whitesmoke;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1em;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
}
