.library-artist-container {
  display: flex;
  width: 100%;
  overflow: auto;
}

.artists-name-container {
  box-sizing: border-box;
  background-color: $card-background-color;
  height: 100vh;
  width: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-name {
  background-color: rgba(0, 0, 0, 0.6);
  width: 200px;
  margin: 4px;
  padding: 8px 10px;
  border-radius: 10px;
  @include transition-animation(0.2);
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    color: $primary-color;
  }
  &:active {
    transform: scale(1.08);
  }
  p {
    @include truncate-text;
    padding: 0;
    margin: 0;
  }
}

.library-artist-items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 220px);
  padding: 0 10px;
  .thumbnail-and-title {
    margin: 10px;
  }
  align-content: flex-start;
}

.active-artist {
  background: $secondary-color;
  &:hover {
    color: white;
  }
}
