.library-songs {
  width: 100%;
  box-sizing: border-box;
  .song-lists {
    display: flex;
    flex-direction: column;
  }
  .songs-length {
    background-color: $card-background-color;
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    margin: 1em 0 1em 1.3em;
    width: 250px;
    border-radius: 10px;
  }
}
