.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  color: $primary-color;
  margin-top: 3em;
  .button {
    width: 100px !important;
    span {
      margin: 0 !important;
    }
  }
}

.login-image {
  img {
    width: 466px;
    height: 322px;
  }
}
