$player-height: 2em;
$main-view-width: 96%;
$main-body-height: 100vh;

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $background-color;
  height: 100vh;
  @include flex-all-center;
  @include no-margin-padding;
  overflow: hidden;
  color: $main-font-color;
}

.home {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

.icon-buttons {
  button,
  input[type='submit'],
  input[type='reset'] {
    @include transition-animation(0.15);
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 10px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.main-view {
  padding: 0;
  height: 100vh;
  width: $main-view-width;
  @include flex-all-center;

  #player {
    height: $player-height;
    width: $main-view-width;
  }

  #main-body {
    height: $main-body-height;
    width: $main-view-width;
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    overflow: scroll;
    background: transparent;
  }
}

.svg-container{
  display: flex;
  align-content: center;
}
.svg {
  width: 1em;
  height: 1em;
  padding: 3px 10px 0 0;
}

.scrollWrapper {
  overflow: auto;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($background_color, 0);
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 40%);
    border-radius: 1px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 25%);
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}
