$player-height: 2em;
$main-view-width: 100%;
$main-body-height: 100vh;
$sidebar-width: 260px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $background-color;
  height: 100vh;
  @include flex-all-center;
  @include no-margin-padding;
  overflow: hidden;
  color: $main-font-color;
}

.full-div {
  width: 100%;
  height: 100%;
}

.home {
  display: flex;
  justify-content: left;
  width: 100vw;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

.icon-buttons {
  button,
  input[type='submit'],
  input[type='reset'] {
    @include transition-animation(0.15);
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 10px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.main-view {
  display: flex;
  // $sidebar-width --> 260px;
  width: calc(100vw - 260px);
  bottom: 0;
  overflow: auto;
  background: transparent;
  height: 100vh;
  position: relative;
  #player {
    height: $player-height;
    width: $main-view-width;
  }
}

.svg-container {
  display: flex;
  align-content: center;
}
.svg {
  width: 1em;
  height: 1em;
  padding: 3px 10px 0 0;
}

.scrollWrapper {
  overflow: auto;
  // for firefox
  scrollbar-color: $primary-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($background_color, 0);
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 0%);
    border-radius: 1px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 5%);
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}
