$top-border-color: $card-background-color;
$player-background-color: lighten(rgb(0, 0, 0), 6%);
$player-scrubber-z-index: 2;

.player {
  align-items: center;
  flex-wrap: nowrap;
  height: 250px;
  margin-top: auto;
  flex-shrink: 0;
  border-top: solid;
  border-width: 2px;
  background-color: $player-background-color;
  border-color: $top-border-color;
  width: $sidebar-width;
  img {
    height: 0;
  }
  .scrubber {
    width: $sidebar-width - 10px;
  }
}

#player-scrubber {
  width: $sidebar-width;
  height: 7px;
  background-color: white;
  @include flex-all-center;
  flex-direction: column;
  z-index: $player-scrubber-z-index;
  #playback-status-bar {
    z-index: $player-scrubber-z-index - 1;
    height: 5px;
    background-color: red;
  }
}
