.options {
  @include transition-animation(0.1);
  z-index: 10;
  position: absolute;
  background: rgba(93, 93, 93, 0.9);
  border-radius: 10px;
  width: 140px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 4px 18px 4px;
  .button {
    font-size: 14px;
    width: 90%;
    padding: 6px 0;
  }
}

.options-button {
  @include transition-animation(0.2);
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.6);
  }
  margin-right: 10px;
}
