.options {
  @include transition-animation(0.1);
  z-index: 10;
  position: absolute;
  background: rgba(93, 93, 93, 0.9);
  border-radius: 4px;
  width: 125px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  .button {
    font-size: 14px;
    background: transparent;
    width: 90%;
    padding: 6px 0;
    border-radius: 0;
    margin: 0;
    &:hover {
      background-color: $primary-color;
    }
  }
}

.options-button {
  @include transition-animation(0.2);
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.6);
  }
  margin-right: 10px;
}
