.search-page {
  width: 100%;
  .search-buttons {
    display: flex;
    margin-left: 1em;
  }
  display: flex;
  flex-direction: column;
  input {
    background-color: lighten($card-background-color, 10%);
    font: inherit;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 8px;
    color: rgba(255, 255, 255, 0.8);
    width: 300px;
    margin: 0 0 10px 1em;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.un-active {
  background: lighten($card-background-color, 5%) !important;
}
