$margin: 6px;
$padding: 6px;

.sidebar {
  @include box-shadow;
  flex-shrink: 0;
  box-sizing: border-box;
  background: $secondary-background_color;
  margin-left: 1em;
  padding: 1em;
  position: sticky;
  top: 0;
  height: 96vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.5em;
  width: 250px;

  &__category {
    white-space: nowrap;
    margin: $margin * 2 0 $margin * 2 0;
  }

  &__ul {
    @include no-margin-padding;
    border-left: solid;
    border-width: 1.5px;
    border-color: $pastel-purple;
  }

  &__li {
    @include truncate-text;
    @include transition-animation(0.2);
    border-radius: 4px;
    padding: $padding;
    margin: 6px 10px 6px 12px;
    width: 90%;
    &:hover {
      @include big-box-shadow;
      background: $secondary-color;
      transform: scale(1.1);
    }
    &__isActive {
      @include big-box-shadow;
      background: $primary-color;
      a {
        color: lightgray;
      }
    }
  }
}
