$title-margin: 6px;
$li-padding: 6px 6px;

$sidebar-background-color: black;

ul {
  @include no-margin-padding;
  list-style-type: none;
}

li {
  @include truncate-text;
  @include transition-animation(0.2);
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 4px 0 0 12px;
  div {
    padding: $li-padding;
    width: 100%;
  }
  &:hover {
    @include box-shadow;
    background: $primary-color;
    transform: scale(1.08);
    color: rgba(white, 0.9);
    margin-left: 1em;
  }
  &:active {
    @include transition-animation(0.1);
    transform: scale(1.11);
    background: $primary-purple;
  }
}

.sidebar {
  @include box-shadow;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: $sidebar-background-color;
  padding: 1em 0 0 0;
  height: 100vh;
  overflow: hidden;
  width: $sidebar-width;
  nav {
    height: calc(100% - 280px);
    overflow-y: auto;
  }
  .padding-div {
    padding-left: 1em;
  }

  &__category {
    white-space: nowrap;
    margin: $title-margin * 3 0 $title-margin * 2 0;
    color: $primary-color;
  }
  &__ul {
    margin-left: 9px;
    border-left: solid;
    border-width: 1.5px;
    border-color: $primary-color;
  }

  &__li {
    width: 80%;
    color: $main-font-color;

    &__isActive {
      @include big-box-shadow;
      background: $secondary-color;
      color: white;
    }
  }
  .icon {
    align-self: center;
    justify-self: center;
    margin-right: 4px;
    margin-bottom: 4px;
  }
}
