$title-margin: 6px;
$li-padding: 6px;

$sidebar-background-color: black;
$sidebar-width: 260px;

ul {
  @include no-margin-padding;
  list-style-type: none;
}

li {
  @include truncate-text;
  @include transition-animation(0.2);
  margin: 6px 10px 6px 12px;
  padding: $li-padding;
  border-radius: 4px;
  &:hover {
    @include box-shadow;
    color: $pastel-purple;
    background: $primary-color;
    transform: scale(1.1);
    a {
      color: rgba(white, 0.9);
    }
    margin-left: 1em;
  }
  &:active {
    @include transition-animation(0.1);
    transform: scale(1.15);
    background: $primary-purple;
  }
}

.sidebar {
  @include box-shadow;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: $sidebar-background-color;
  padding: 1em 0 0 0;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y:scroll;
  width: $sidebar-width;
  nav{
    height: calc(100% - 280px);
    overflow-y:scroll;
  }
  .padding-div {
    padding-left: 1em;
    
  }

  &__category {
    white-space: nowrap;
    margin: $title-margin * 3 0 $title-margin * 2 0;
    color: $primary-color;
  }
  &__ul {
    margin-left: 9px;
    border-left: solid;
    border-width: 1.5px;
    border-color: $primary-color;
  }

  &__li {
    width: 80%;
    a {
      color: $main-font-color;
    }

    &__isActive {
      @include big-box-shadow;
      background: $secondary-color;
      a {
        color: white;
      }
    }
  }
}
