.song {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  width: 95%;
  margin-left: 1em;

  .explicit-content {
    position: relative;
  }
  .explicit-content::after {
    position: absolute;
    content: 'E';
    top: 3px;
    font-size: 12px;
    font-weight: bold;
    padding: 0.5px 4px;
    background-color: hsla(0, 0%, 70.6%, 0.6);
    margin-left: 6px;
    border-radius: 2px;
  }
}

.song-image {
  height: 40px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }
  position: relative;
  background-color: $card-background-color;
}

.song-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  a,
  p {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    @include truncate-text(100%);
  }
  a:hover {
    text-decoration: underline;
  }
  .song-album {
    font-size: $tiny-font-size;
    color: $sub-text-color;
  }
}

.song-play-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-number {
  p {
    margin: 0;
    padding: 0;
    color: lighten($primary-color, 10%);
  }
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 30px;
  margin: 0 10px 0 0;
}

.song-time-stamp {
  margin-left: auto;
  align-self: center;
}
