$main-font-color: rgba(255, 255, 255, 0.8);

$blue-de-france: #228cdb;
$blue-bell: #9c95dc;
$pastel-purple: #c19ab7;
$metallic-seaweed: #0b7189;
$eerie-black: #170a1c;
$icon-color: #2b2b2b;
$primary-purple: #bb86fc;
$owl-pink: #ff7597;
$owl-pink-dark: #ff0266;

$primary-color: $owl-pink;
$secondary-color: $blue-de-france;

$background-color: #111111;
$secondary-background_color: #f5f5f5;

$regular-font-size: 1em;
$tiny-font-size: 12px;
$sub-text-color: #868686;
