$blue-de-france: #228CDB;
$blue-bell: #9C95DC;
$pastel-purple: #C19AB7;
$metallic-seaweed: #0B7189;
$eerie-black: #170A1C;
$icon-color: #2B2B2B;

$primary-color: $blue-de-france;
$secondary-color: $blue-bell;

$background-color: #ddeefc;
$secondary-background_color: #f5f5f5;

$regular-font-size: 1em;
$tiny-font-size: 12px;
$sub-text-color: #868686;
