@charset "utf-8";
* {
  box-sizing: border-box;
}
body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap');

@import 'constants';
@import 'common';

@import 'Components/main-page';
@import 'Components/album-with-title';
@import 'Components/sidebar';
@import 'Components/albums-page';
@import 'Components/music-player';

$themeColor: $primary-color;
@import '~vue-slider-component/lib/theme/default.scss';
@import 'Components/loader';
@import 'Components/album-tracklist';
@import 'Components/song';
@import 'Components/library-artist-profile';
@import 'Components/browse-page';
@import 'Components/login-page';
@import 'Components/button';

@import '~sweetalert2/src/variables';
$swal2-background: $card-background-color;
$swal2-content-color: darken(white, 10);
$swal2-title-color: darken(white, 10);
$swal2-confirm-button-background-color: $primary-color;
@import '~sweetalert2/src/sweetalert2';

@import 'Components/search';
@import 'Components/library-songs';
@import 'Components/artist-profile';
@import 'Components/animate';
@import 'Components/lyrics-page';
