.side-bar {
  background: rgba($color: #f5f5f5, $alpha: 0.6);
  box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);

  margin-left: 14px;
  padding: 1em;

  position: sticky;
  top: 0;

  height: 96vh;
  overflow-y: scroll;
  border-radius: 0.5em;
  width: max-content;
  max-width: 300px;
  min-width: 100px;

  a {
    transition: transform 0.1s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    border-radius: 4px;
  }
  a:hover {
    transform: scale(1.05);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.2);
    border-radius: 4px;
    background: #7FDBFF;
  }
}
